.ipynb_checkpoints
.mypy_cache
.vscode
results
Corpora/Proc_*
Corpora/Original_*
__pycache__
Trash
auxfiles/json/features*.json
auxfiles/logs
auxfiles/pickle
auxfiles/svg
auxfiles/txt/Quixote/*.txt
auxfiles/txt/Ibsen/*.txt
Network\ motifs\ paper
*.pyc